
<mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar  src="assets/avatarBoy.png" alt="Photo of lilBoy" >
      <mat-card-title>Tom</mat-card-title>
      <mat-card-subtitle>Sweet Baby Boy</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/babyBoy.jpg" alt="Photo of Tom">
   <!-- <mat-card-content>
      <section class="mat-typography">
        <p class="mat-body-strong">
        I am little Tom,
      </p>
    </section>
    </mat-card-content>-->
    <mat-card-actions>
      <button (click)="amHungry()" mat-raised-button color="accent">M'HUNGRY</button> &nbsp;&nbsp;
      <button (click)="amThirsty()" mat-raised-button color="accent">M'THIRSTY</button>
    </mat-card-actions>
  </mat-card>