<mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar  src="assets/avatar.jpg" alt="Photo of lilGirl" >
      <mat-card-title>Sara</mat-card-title>
      <mat-card-subtitle>Cute Baby Girl</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/babyGirl.jpg" alt="Photo of Sara">
 
    <mat-card-actions>
      <button (click)="amHungrySignal()" mat-raised-button color="accent">M'HUNGRY</button> &nbsp;&nbsp;
      <button (click)="amThirstySignal()" mat-raised-button color="accent">M'THIRSTY</button>
      
    </mat-card-actions>
  </mat-card>

